<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>786950218547-snv12i762jqikgu9g16645cou05b8pv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786950218547-snv12i762jqikgu9g16645cou05b8pv5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>786950218547-gntd6ufmg6sl1p719vf9h4ojm300eqtp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB216RR9R3NqqmpUGi4E3uol4wR1oMSaKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>786950218547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shubha.Grocery-App</string>
	<key>PROJECT_ID</key>
	<string>grocery-app-demo-42f7c</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-app-demo-42f7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:786950218547:ios:61ed5508998cffd7291446</string>
</dict>
</plist>
